@font-face{
  font-family: "lucida console";
  src: url(../fonts/LUCON.TTF)
}

body, html {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
.contenido{
    margin: 20px 100px 20px 300px;
    padding: 10px;
    transition: 1s;
    background-color: white;
    box-shadow: 10px 10px  #00425F;
    border-radius: 20px;
    
}

.space {
  background-color: white;
  border-radius: 20px;
  margin: 20px 20px;
}
  /* barra menu */
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    border-radius: 20px;
    margin: 40px 80px 10px 80px;
    transition: 0.5s;
  }
  
  /* estilo links */
  .header a {
    float: left;
    color: #00425F;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  /* estilo tema o logo*/
  .header a.tema {
    font-size: 25px;
    font-weight: bold;
    
  }
  .header a.tema:hover {
    background-color: #f1f1f1;
    color: #00425F;
    transition: 1s;  
  }
  
  /* hover links */
  .header a:hover { 
    background-color: #00425F;
    color: #f1f1f1;
    transition: 1s;
    font-weight: bold;
  }
  
  /* link actual*/
  .header a.active {
    background-color: #E3AF25;
    color: white;
    font-weight: bold;
  }
  
  /* ubicacion links */
  .header-right {
    float: right;
    margin:10px;
  }


  h1 { 
    color: #E3AF25;
    font-size: 50px;
    float: center;
  }
  h2 {
    margin: 30px 30px;
    font-weight: bolder;
    color: #00425F;
  }
  .h22 {
    margin: 30px 30px;
    color: #00425F;
  }
  
  p {
    text-align: justify;
    font-size: 15px;
    font-weight: 545;
  }
  /*cajas*/
  .boxes {
    margin-top:10px;
    display: flex;
    overflow: hidden;
    transition: 0.5s;
  }
  .columna {
    position: relative;
    background: #00425F;
    padding: 20px 20px;
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    display: block;

  }
  .columna a {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    display: block;
  }
  .imgsize {
    width: 20%;
  }

  .ejemplos {
    
    padding: 10px;
    transition: 1s;
    background-color: #f1f1f1;

    position: relative;
    width: fit-content;
    margin: 10px;
    border-radius: 20px;
    text-align: center; 


    margin: 15px 15px;
  }

  pre {
    display:flex;
    background-color: #00425F;
    color: #ffffff;
    font-size: 15px;
    border-radius: 20px;
    padding: 20px;
    margin: 15px 15px;
    transition: 1s;
    box-shadow: 10px 10px #E3AF25;
  }

  .pre-der{
    display: table;
    font-family: "lucida console";
    font-size: 15px;
    line-height: 28px;
    background-color: #00425F;
    color: #ffffff;
    margin-left:50px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 20px;

  }

  .pre-izq {
    display: table;
    font-family: "lucida console";
    font-size: 15px;
    line-height: 28px;
    background-color: #00425F;
    color: #ffffff;
    margin-left:10px;
    margin-right: 50px;
    padding: 15px;
    border-radius: 20px;
   
  }
  
  .descripcion {
    padding: 0px;
    transition: 1s;

    border-radius: 25px;
    margin: 15px 0px 15px 0px;
    width: 98%;
  }

  .codigo {
    border-left: 6px solid #E3AF25;

    
  }
  .code-des {
    font-family: "lucida console";
    color: #E3AF25;
    transition: 1s;
    font-size: 15px;
  }
  .aside-right {
    width: fit-content;
    margin-left: 10px;
    float: right;
    display:flex
  }

  /* menu lateral*/
  #navbar {
    position: fixed; /* Make it stick/fixed */
    left: -400px; /* Hide the navbar 50 px outside of the top view */
    width: 250px; /* Full width */
    transition: top 1s; /* Transition effect when sliding down (and up) */
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 20px 10px;
    transition: 1s;
    overflow-x: hidden; 
    overflow-y: auto;
    height: 92%;
   
  }
  

  /* Style the navbar links */
  #navbar a {
    display: block;
    color: #00425F;
    text-align: left;
    padding-left: 20px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
    font-weight: bold;
  }
  
  #navbar a:hover {
    background-color: #00425F;
    color: #f1f1f1;
    transition: 0.5s;
    font-weight: bold;
  }

  .dropdown {
    display: block;
    color: #00425F;
    text-align: left; 
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
    font-weight: bold;
  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px #E3AF25;
    
    z-index: 1;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
  }
  
  .show {
    display:block;
  }
  /* responsive 800px o menos */
  @media screen and (max-width: 800px) {
    
    .header {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 20px 10px;
        border-radius: 20px;
        transition: 1s;
        margin: 40px 0px 10px 0px;
      }
    .header a {
        transition: 1s;
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    .contenido{
        margin: 10px 0px 10px 0px;
        padding-bottom: 5px;
        transition: 1s;
        
    }
    .descripcion {
      
      transition: 1s;
      
      width: fit-content;

    }

    .ejemplos {
      transition: 1s;
      display: block;
      float: left;
    }

    .boxes {
      transition: 1s;
      display: block;
      float: left;
      margin: 0px;
    }
    .columna {
      float: left;
      width: fit-content;
    }
    pre {
      display:flex;
      background-color: #00425F;
      color: #ffffff;
      font-size: 15px;
      border-radius: 20px;
      padding: 20px;
      margin: 10px;
      transition: 1s;
      
    }
  
    .pre-der{
      display: table;
      font-family: "lucida console";
      font-size: 15px;
      line-height: 28px;
      background-color: #00425F;
      color: #ffffff;
      margin-left:0px;
      padding: 15px;
      border-radius: 20px;
  
    }
  
    .pre-izq {
      display: table;
      font-family: "lucida console";
      font-size: 15px;
      line-height: 28px;
      background-color: #00425F;
      color: #ffffff;
      margin-left:10px;
      margin-right: 50px;
      padding: 15px;
      border-radius: 20px;
    }

    #navbar {
      position: fixed; /* Make it stick/fixed */
      left: -800px; /* Hide the navbar 50 px outside of the top view */
      width: 86%; /* Full width */
      transition: left 1s; /* Transition effect when sliding down (and up) */
      background-color: #f1f1f1;
      border-radius: 15px;
      padding: 20px 10px;
      transition: 1s;
      overflow: auto;
      white-space: nowrap;
      height: auto;
    }
    
    /* Style the navbar links */
    #navbar a {
      display: inline-block;
      text-align: center;
      
    }
    
    .dropdown {
      display: inline-block;
      
    }

    #navbar .dropdown:hover {
      height: 120px;
    }

    #navbar #myDropdown {
      height: 120px;
    }

  }
  
